* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Press Start 2P', cursive;
      text-align: center;
      font-size: 25px;
      background-color: #a9aaac;
}

span {
      display: inline-block;
      padding: 20px 0;
}

@keyframes mybtn {
      0% {
            transform: scale(1);
      }
      50% {
            transform: scale(1.5);
      }
      100% {
            transform: scale(1);
      }
}
.animated {
      margin-top: 100px;
      padding: 10px;
      border: 1px solid #000000;
      animation: mybtn 1s linear infinite;
}